body {
  font-size: 10px;
  color: white;
  background-color: #1f3642;
}

h1 {
  font-family: 'Bahiana', cursive;
  padding: 0;
  font-size: 50px;
}

div.container {
  padding: 0;
}

div#platformer{
  border: 10px solid #FFFFFF;
  border-radius: 8px;
  width: 800px;
}
